<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2014 Google Inc. All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.broadcom.tvinput">

    <uses-permission android:name="android.permission.BIND_TV_INPUT" />
    <uses-permission android:name="android.permission.TV_INPUT_HARDWARE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="com.android.tv.permission.RECEIVE_INPUT_EVENT" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.broadcom.tvinput.TunerSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.broadcom.tvinput.TunerService"
            android:permission="android.permission.BIND_TV_INPUT"
            android:label="@string/tuner_service_label"
            android:process=":BroadcomTunerService">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <meta-data android:name="android.media.tv.input"
                android:resource="@xml/tunerservice" />
        </service>
    </application>
</manifest>
