# import other bcm_platform specific init.
import /init.bcm_platform.usb.rc
import /init.brcm_dhd.rc
import /init.brcm_bt.rc
import /init.brcm_hwmon.rc
import /init.nfs.rc
import /init.blockdev.rc
import /init.eth.rc
import /init.nx.dynheap.rc

on init
   mkdir /mnt/hwcfg 0555 root root

   mkdir /mnt/shell/emulated 0700 shell shell
   mkdir /storage/emulated 0555 root root

   mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
   mkdir /storage/sdcard1 0700 root root

   mkdir /mnt/media_rw/usb0 0700 media_rw media_rw
   mkdir /storage/usb0 0700 root root

   export EXTERNAL_STORAGE /storage/emulated/legacy
   export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
   export EMULATED_STORAGE_TARGET /storage/emulated
   export SECONDARY_STORAGE /storage/sdcard1

   # Support legacy paths
   symlink /storage/emulated/legacy /sdcard
   symlink /storage/emulated/legacy /mnt/sdcard
   symlink /storage/emulated/legacy /storage/sdcard0
   symlink /mnt/shell/emulated/0 /storage/emulated/legacy

   # allocate node(s) which are part of the CTS exception list.
   export NEXUS_DEVICE_NODE /dev/mali
   export NEXUS_WAKE_DEVICE_NODE /dev/mali0

   # Mount kernel debugfs
   mount debugfs none /sys/kernel/debug

on fs
   mount_all /fstab.bcm_platform
   setprop ro.crypto.fuse_sdcard true
   setprop chrome.tv.hole_threshold 0
   setprop ro.nexus.devname mali
   setprop ro.nexus.wake.devname mali0
   setprop ro.nexus.ashmem.devname ion

on boot
   # Subsytem Ramdump collection
   mkdir /data/tombstones 0777 system system
   mkdir /data/tombstones/ramdump 0777 system system
   restorecon_recursive /data/tombstones

on post-fs
   # nexus ipc socket, use a device from the exception list.
   export nxclient_ipc_node /dev/ump
   # TODO: remove this.  keeping it for backward compatibility.
   export nexus_ipc_dir /dev

   export SAGEBIN_PATH /system/bin
   export NEXUS_LOGGER /system/bin/nxlogger
   export NEXUS_LOGGER_FILE /data/nexus/nexus.log

   setprop ro.nx.v3d.no_map_lock 1

   setprop ro.nexus.nxserver.hdcp1x_keys /mnt/hwcfg/drm_hdcp1x.bin
   setprop ro.nexus.nxserver.hdcp2x_keys /mnt/hwcfg/drm.bin

   # Eliminate writable file in /sys to pass android.permission CTS
   chmod 0664 /sys/kernel/wakeup_reasons/last_resume_reason
   # Allow Launcher wallpaper picker to use landscape mode
   setprop log.tag.launcher_force_rotate VERBOSE

on post-fs-data
   mkdir /data/media 0770 media_rw media_rw
   mkdir /data/misc/moca 0777 system system
   mkdir /data/nexus 0775 root system
   mkdir /data/misc/nexus 0755 root system

   mkdir /data/mediadrm/playready/ 0770 mediadrm mediadrm

   # *** sample only.
   #
   #    seed the nx_key with some password to allow
   #    server/client authentication, note the syntax
   #    of the key-file content: 'trusted:<some-password>'
   #
   write /data/misc/nexus/nx_key trusted:test-passwd
   chmod 0644 /data/misc/nexus/nx_key
   export NXCLIENT_PASSWORD /data/misc/nexus/nx_key

   class_start pre_core

on property:hw.nexus.platforminit=on
   # insmod nx_ashmem driver (gralloc memory support).
   insmod /system/vendor/drivers/nx_ashmem.ko devname="ion" heap_grow="8m"
   class_start main

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
   class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service fuse_usb0 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usb0 /storage/usb0
   class late_start
   disabled

service nxserver /system/bin/nxserver
   class core
   user root
   group system
   critical
   oneshot

service pmlibservice /system/bin/pmlibserver
    class core
    user root
    group root
    critical

service hwcbinder /system/bin/hwcbinder
   class pre_core
   user root
   group system media
   critical
   oneshot

