# import other bcm_platform specific init.
import /init.brcm_dhd.rc
import /init.brcm_wl.rc
import /init.brcm_bt.rc
import /init.nfs.rc
import /init.blockdev.rc

on init
   mkdir /mnt/shell/emulated 0700 shell shell
   mkdir /storage/emulated 0555 root root

   mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
   mkdir /storage/sdcard1 0700 root root

   export EXTERNAL_STORAGE /storage/emulated/legacy
   export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
   export EMULATED_STORAGE_TARGET /storage/emulated
   export SECONDARY_STORAGE /storage/sdcard1

   # Support legacy paths
   symlink /storage/emulated/legacy /sdcard
   symlink /storage/emulated/legacy /mnt/sdcard
   symlink /storage/emulated/legacy /storage/sdcard0
   symlink /mnt/shell/emulated/0 /storage/emulated/legacy

   # allocate node(s) which are part of the CTS exception list.
   export NEXUS_DEVICE_NODE /dev/mali
   export NEXUS_WAKE_DEVICE_NODE /dev/mali0

   # Do not let SYSTEMPORT get an IPv6 address (when using gphy)
   write /proc/sys/net/ipv6/conf/eth0/disable_ipv6 1

   # Mount kernel debugfs
   mount debugfs none /sys/kernel/debug

on fs
   mount_all /fstab.bcm_platform
   setprop ro.crypto.fuse_sdcard true
   setprop chrome.tv.hole_threshold 0
   setprop ro.nexus.devname mali
   setprop ro.nexus.wake.devname mali0
   setprop ro.nexus.ashmem.devname ion

on boot
   # Subsytem Ramdump collection
   mkdir /data/tombstones 0777 system system
   mkdir /data/tombstones/ramdump 0777 system system
   restorecon_recursive /data/tombstones

   # gphy depends on eth0 being up
   ifup eth0

on post-fs
   # nexus ipc socket, use a device from the exception list.
   export nxclient_ipc_node /dev/ump
   # TODO: remove this.  keeping it for backward compatibility.
   export nexus_ipc_dir /dev

   export SAGEBIN_PATH /system/bin

   setprop ro.nexus.nxserver.hdcp1x_keys /system/bin/drm_hdcp1x.bin
   setprop ro.nexus.nxserver.hdcp2x_keys /system/bin/drm_hdcp2x.bin

   # Eliminate writable file in /sys to pass android.permission CTS
   chmod 0664 /sys/kernel/wakeup_reasons/last_resume_reason

on post-fs-data
   mkdir /data/media 0770 media_rw media_rw
   mkdir /data/misc/moca 0777 system system
   mkdir /data/nexus 0775 root system

   chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
   chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
   chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
   chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

   class_start pre_core

on property:hw.nexus.platforminit=on
   class_start main

# When boot has completed we can start any relevant services
on property:sys.boot_completed=1
   class_start boot_complete

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
   class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service dhcpcd_gphy /system/bin/dhcpcd -dABKL
   class main
   group dhcp
   disabled
   oneshot

service bcmsetup /system/bin/nexusinit
   class core
   user root
   group system
   critical
   oneshot

service disable-sleep /system/bin/logwrapper /system/bin/svc power stayon true
   class boot_complete
   user system
   group system
   oneshot

# SWLINUX-2786, only for 7251 platform, and only need to be enabled when linux
# version is 3.8 or earlier.
service drop-cache /system/etc/cache.sh
   class main
   oneshot

service pmlibservice /system/bin/pmlibserver
    class core
    user root
    group root
    critical

service hwcbinder /system/bin/hwcbinder
   class pre_core
   user root
   group system media
   critical
   oneshot
