# import other bcm_platform specific init.
import /init.brcm_dhd.rc
import /init.brcm_wl.rc
import /init.brcm_bt.rc
import /init.nfs.rc

on init
   mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw

   mkdir /storage/emulated/ 0555 root root
   mkdir /storage/sdcard 0700 root root
   mkdir /storage/usbdisk0 0700 root root

   symlink /storage/sdcard /sdcard
   symlink /storage/sdcard /mnt/sdcard
   symlink /storage/sdcard /storage/sdcard0
   symlink /storage/usbdisk0 /usbdisk0
   symlink /storage/usbdisk0 /mnt/usbdisk0

   export EXTERNAL_STORAGE /storage/sdcard

   # allocate node(s) which are part of the CTS exception list.
   export NEXUS_DEVICE_NODE /dev/mali
   export NEXUS_WAKE_DEVICE_NODE /dev/mali0

   # Do not let SYSTEMPORT get an IPv6 address (when using gphy)
   write /proc/sys/net/ipv6/conf/eth0/disable_ipv6 1

on fs
   mount_all /fstab.bcm_platform
   setprop ro.crypto.fuse_sdcard true
   setprop chrome.tv.hole_threshold 0
   setprop ro.nexus.devname mali
   setprop ro.nexus.wake.devname mali0
   setprop ro.nexus.ashmem.devname ion

on boot
   # Subsytem Ramdump collection
   mkdir /data/tombstones 0777 system system
   mkdir /data/tombstones/ramdump 0777 system system
   restorecon_recursive /data/tombstones

   # gphy depends on eth0 being up
   ifup eth0

on post-fs
   # nexus ipc socket, use a device from the exception list.
   export nxclient_ipc_node /dev/ump
   # TODO: remove this.  keeping it for backward compatibility.
   export nexus_ipc_dir /dev

   export SAGEBIN_PATH /system/bin

   # Eliminate writable file in /sys to pass android.permission CTS
   chmod 0664 /sys/kernel/wakeup_reasons/last_resume_reason

on post-fs-data
   mkdir /data/media 0770 media_rw media_rw
   mkdir /data/misc/moca 0777 system system
   mkdir /data/nexus 0775 root system

   chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
   chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
   chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
   chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on property:hw.nexus.platforminit=on
   class_start main

# When boot has completed we can start any relevant services
on property:sys.boot_completed=1
    class_start boot_complete

service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
   class late_start
   disabled

service dhcpcd_gphy /system/bin/dhcpcd -dABKL
   class main
   group dhcp
   disabled
   oneshot

service bcm-setup /system/bin/nexusinit
   class core
   user root
   group system
   critical
   oneshot

service disable-sleep /system/bin/logwrapper /system/bin/svc power stayon true
   class boot_complete
   user system
   group system
   oneshot

# SWLINUX-2786, only for 7251 platform, and only need to be enabled when linux
# version is 3.8 or earlier.
service drop-cache /system/etc/cache.sh
   class main
   oneshot
