# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    setprop service.adb.tcp.port -1
    setprop sys.usb.state ${sys.usb.config}

# adb only
on property:sys.usb.config=adb
    setprop service.adb.tcp.port 5555
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}
