# access for camera.
/dev/video0               0660   root       root

# huh??
/dev/mem                  0770   root       root

# BT USB device nodes
/dev/btusb0               0660   bluetooth  bluetooth

# nexus in disguise...
/dev/mali                 0666   root       root
/dev/mali0                0666   root       root
/dev/ion                  0666   root       root

