<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.media"
    package="com.broadcom.nrdphelper">

    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application android:label="@string/app_label">
        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".HdmiAudioPlugService">
            <intent-filter>
                <action android:name="android.media.action.HDMI_AUDIO_PLUG" />
            </intent-filter>
        </service>
    </application>
</manifest>
