<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.broadcom.BcmSpdifSetting">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:label="@string/app_name" >

        <receiver android:name=".BcmSpdifSettingReceiver">
            <intent-filter>
                 <action android:name="com.broadcom.action.ENABLE_SPDIF_DOLBY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
